<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SaludoPrueba</display-name>
    <servlet-name>SaludoPrueba</servlet-name>
    <servlet-class>controlador.SaludoPrueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaludoPrueba</servlet-name>
    <url-pattern>/SaludoPrueba</url-pattern>
  </servlet-mapping>
  <display-name>NavesTutoria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NaveServlet</display-name>
    <servlet-name>NaveServlet</servlet-name>
    <servlet-class>controlador.NaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NaveServlet</servlet-name>
    <url-pattern>/NaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMotocicleta</display-name>
    <servlet-name>ServletMotocicleta</servlet-name>
    <servlet-class>controlador.ServletMotocicleta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMotocicleta</servlet-name>
    <url-pattern>/ServletMotocicleta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistroUsuario</display-name>
    <servlet-name>ServletRegistroUsuario</servlet-name>
    <servlet-class>controlador.ServletRegistroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistroUsuario</servlet-name>
    <url-pattern>/ServletRegistroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistroUsuario1</display-name>
    <servlet-name>ServletRegistroUsuario1</servlet-name>
    <servlet-class>controlador.ServletRegistroUsuario1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistroUsuario1</servlet-name>
    <url-pattern>/ServletRegistroUsuario1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controlador.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarUsuarios</display-name>
    <servlet-name>ServletListarUsuarios</servlet-name>
    <servlet-class>controlador.ServletListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarUsuarios</servlet-name>
    <url-pattern>/ServletListarUsuarios</url-pattern>
  </servlet-mapping>
</web-app>