*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para todos los hijos de gridContainer */
.gridContainer > *{
    padding: 10px;
    text-align: center;
    border: solid 3px black;
    
}

.gridContainer {
    display: grid;
    grid-template-rows: 250px 50px auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "navbar"
        "contenido"
        "footer";
    height: 100vh; /* Opcional, ajusta la altura según sea necesario */
}

.header {
    grid-area: header;
    background-color: #898989;
}

.navbar {
    grid-area: navbar;
    background-color: #fb4141;
}

.contenido {
    grid-area: contenido;
    background-color: #f8fac5;
}

.footer {
    grid-area: footer;
    background-color: #4f4f4f;
}

/* Consultas de medios para hacer el diseño responsive */

@media screen and (max-width: 768px) {
    .gridContainer {
        grid-template-rows: 150px 50px auto 50px;
    }
}

@media screen and (max-width: 576px) {
    .gridContainer {
        grid-template-rows: 100px 50px auto 50px;
    }
}