@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto+Sans';
    flex-wrap: wrap;
}

.encabezado, .navbar{
    flex: 1 0 auto;
}

/* Estilos para .encabezado, .navbar, etc. */

.encabezado {
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

.encabezado img {
    display: flex;
    align-items: center;
    width: 290px;
    height: 230px;
    padding-left: 60px;
}

header {
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    text-align: center;
    border: solid 5px #000000;
}

nav a {
    background-color: #d9d9d9;
    font-size: 25px;
    color: #000000;
    display: inline-block;
    border-radius: 15px;
    margin: 0 50px;
    padding: 5px 15px;
    width: 160px;
    border: solid 2px #000000;
    font-weight: bold;
}

nav a:hover {
    background-color: #999999;
    color: black;
}

.contenedorLegal h1, .contCondici h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.contenedorLegal h2, .contCondici h2{
    width: 60%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.contenedorLegal li, .contCondici li, .contenedorLegal p, .contCondici p{
    width: 60%;
    position: relative;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin-top: 20px;
}

.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 25px;
    height: 120px;
    margin-top: 200px;
}

.pie a, .pie p{
    margin-left: 50px;
    margin-right: 50px;
}
