@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto+Sans';
    flex-wrap: wrap;
}

.encabezado, .navbar{
    flex: 1 0 auto;
}

/* Estilos para .encabezado, .navbar, etc. */

.encabezado {
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
}

.encabezado img {
    display: flex;
    align-items: center;
    width: 290px;
    height: 230px;
    padding-left: 60px;
}

header {
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    text-align: center;
    border: solid 5px #000000;
}

nav a {
    background-color: #d9d9d9;
    font-size: 25px;
    color: #000000;
    display: inline-block;
    border-radius: 15px;
    margin: 0 50px;
    padding: 5px 15px;
    width: 160px;
    border: solid 2px #000000;
    font-weight: bold;
}

nav a:hover {
    background-color: #999999;
    color: black;
}

.formRegistro{	
	width: 560px; 
    margin: 150px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #d9d9d9; 
    padding-left: 75px;
    border: solid black 3px;
}

h1{
	font-size: 40px;  
	text-align: letf; 
	padding-bottom: 20px;
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-width: 1px; 
	border-color: solid #000000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-width: 1px; 
	border-color: solid #000000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
	float: center;
    font-size: 18px; 	
}

button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ff0000;  
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}

button p{
	color: #fff;
    font-size: 20px;
}

.priva {
    display: flex;
    align-items: center;
    margin-left: -180px;
}

.priva input[type="checkbox"] {
    margin-right: -120px;
}

span{
	color: #ff0000; 
}

h3{
	font-size: 20px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}

.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 25px;
    height: 120px;
    margin-top: 200px;
}

.pie a, .pie p{
    margin-left: 50px;
    margin-right: 50px;
}